<router-outlet></router-outlet>
<div class="catalog-container">
  <h2>Catálogo de Productos</h2>
  <div class="filters">
    <h4>Filtros</h4>
    <label>
      <input type="checkbox" (change)="filtrarPorDisponibilidad($event)">
      Solo disponibles
    </label>
  </div>
  <div class="product-list">
    <div class="product-card" *ngFor="let product of productos">
      <div class="favorite-icon" (click)="toggleFavorite(product)">
        <i [class]="isFavorite(product) ? 'fas fa-heart' : 'far fa-heart'"></i>
      </div>
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency }}</p>
      <button class="buy-now">Buy Now</button>
    </div>
    
  </div>
</div>
